/* Your CSS here. */

/* CSS by tags*/

body{
    display: flex;
    justify-content: center;
    padding: 3%;
}

p{
    color: rgb(244, 244, 244);
    text-align : left;
    white-space: normal;
    font-weight: 150;  
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

a{
    color: rgb(255, 95, 5);
}

/* CSS by classes */

.GreyWale{
    background-color: rgb(19, 41, 75);
    color: rgb(255, 95, 5);
    align-self: center;
    width : 70%;
    height: 100%;
}

.CenterWale{  
    text-align: center;
    img{
        width : 150px;
        height : 150px;
        padding-top: 3%;
    }
}


